@model BndMSC.Models.Bandas

@{
    ViewData["Title"] = "Editar Bandas";
}

<h2>Agregar</h2>

<hr />

<div class="row">
    <div class="Co-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BandasId" />
            <div class="form-group">
                <label asp-for="BandaName" class="control-label"></label>
                <input asp-for="BandaName" class="form-control" />
                <span asp-validation-for="BandaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Revisar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}